<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span th:text="${postcodeError.getPostcode()}"></span></p>
        <p>Unfortunately this is not a valid postcode. Sorry mate.</p>
        <form action="/">
            <input type="submit" value="Go back"/>
        </form>
    </div>
</div>
</body>
</html>